body{
    margin: 0;
    overflow: hidden;
}

header{
    display: flex;
    flex-direction: column;
    height: 20vh;
    background-color: fuchsia;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

header h1{
    margin: 0;
    color: aquamarine;
    font-size: 40pt;
    font-family: 'Comic Sans MS';
    border: 2px dotted aquamarine;
    padding: 10px 20px;
}

header > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}

header div nav{
    display: none;
}

header div input{
    display: none;
}

header img{
    width: 36px;
    height: 36px;
}

#hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50px;
    height: 50px;
}

.barra{
    width: 90%;
    height: 10px;
    background-color: aquamarine;
    border-radius: 15%;
}

#pesquisar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 50%;
}